<img src="/images/PngItem_4835324_preview_rev_1.png" alt="Rock Paper Scissors Lizard Spock@nicepng.com">
<div class = "homeandgoodbye">
<h1>Welcome to the Rock, Paper, Scissors, Spock, Lizard Game!</h1>
<p>
The rules: "Scissors decapitate Scissors cuts paper, paper covers rock, rock crushes lizard, lizard poisons Spock, Spock smashes scissors, scissors decapitates lizard, lizard eats paper, paper disproves Spock, Spock vaporizes rock, and as it always has, rock crushes scissors." This game is set to a best of five format.<p>
</div>
<a href = "/newgame" class = "homeandgoodbyea">Start Game!</a>