<html>
  <head>
    <title>Rock Paper Scissors Spock Lizard!</title>
    <link rel = "stylesheet" href="/stylesheets/application.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eccfd29f52.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>